.all-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 203, 140);

    /* border: solid 2px brown; */
    height: 100%;
    width: 200px;
    /* color: white; */
    font-size:larger;
    font-weight: 600;
    /* overflow: scroll; */
}
.table-data1{
    height: 635px;
    overflow: scroll;
    color: rgb(46, 46, 41);
}
.table-data1::-webkit-scrollbar { /* For Chrome, Safari and Opera */
    display: none;
}
.table-data{
    /* border: solid 2px blueviolet; */
    margin: 0;
    cursor: pointer;
    font-size: x-large;
    padding: 5px;
}
.event-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: black;
    background-color: rgb(211, 203, 140);
    height: 70px ;
    width: 100%;
    margin: 0px;
}