.body{
    display: flex;
    flex-direction: column;
    width: 1200px;
    /* background-color: blue; */
    padding: 15px;
    overflow: scroll;
    height: 600px;
}
.body::-webkit-scrollbar { /* For Chrome, Safari and Opera */
    display: none;
}

.text-detail{
    margin: 4px;
    padding: 10px;
    text-align: justify;
    /* border: 1px solid black; */
    background-color: rgb(194, 184, 149);
    /* font-weight: 900; */
    border-radius: 5px;
    font-family: sans-serif;
}