.body{
    display: flex;
    flex-direction: column;
    width: 1200px;
    /* background-color: blue; */
    padding: 15px;
    overflow: scroll;
    height: 640px;
}
.body::-webkit-scrollbar { /* For Chrome, Safari and Opera */
    display: none;
}

.text-detail{
    margin: 4px;
    padding: 10px;
    text-align: justify;
    border: 1px solid black;
    background-color: rgb(201, 196, 196);
    /* font-weight: 900; */
    font-family: sans-serif;
}